.container-100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.wrap-100 {
    width: 920px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 62px 55px 90px;
    background: #e6e6e6;
}


.form-100 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-100-form {
    display: block;
    width: 100%;
    font-family: fantasy;
    font-size: 39px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 40px;
}

.validate-input {
    position: relative;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 13px;
    padding: 10px 30px 9px 22px;
    margin-bottom: 20px;
    margin-right: 2%;
}

.bg1 {
    background-color: #f7f7f7;
}

.rs1-wrap-input100 {
    width: calc((100% - 30px)/2);
}

.input100 {
    display: block;
    width: 100%;
    background: 0 0;
    font-family: Arial;
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    padding-right: 15px;
}

input.input100 {
    height: 40px;
}

input {
    outline: none;
    border: none;
}

.label-input100 {
    font-family: 'Times New Roman';
    font-size: 15px;
    color: #393939;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.label-cuit {
    font-family: 'Times New Roman';
    font-size: 15px;
    color: #393939;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bold;
}

.h3-input100 {
    font-family: Montserrat-SemiBold;
    color: #393939;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bold;
}

.hrs {
    margin: 5px;
    border-top: 1px solid black;
}

.sel{

}