@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


section {
    height: 750px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

    section h2 {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    section p {
        margin-bottom: 15px;
    }

    section > img {
        height: 60%;
    }

.cta {
    display: inline-block;
    padding: 7px 0;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: #f83d01;
    background: #fff;
}

.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-self: center;
    /* fondo oscuro traslucido */
}

.modal {
    width: 50%;
    height: 40%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
    /* overflow: hidden; */
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close {
    transform: translateY(-200%);
}

.modal > img {
    height: 50%;
}

@media screen and (max-width: 1000px) {
    section {
        flex-direction: column-reverse;
        /* align-items: center; */
    }

        section > img {
            height: 40%;
        }

    .container-text {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    section > img {
        height: 40%;
    }

    .modal img {
        height: 30%;
    }
}

/* ---------------- modales ---------------- */
.modal-psw {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-psw {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-modal-psw:checked ~ .modal-psw {
    opacity: 1;
    visibility: visible;
}

.container-psw {
    width: 400px;
    height: 300px;
    margin: auto;
    background-color: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}

#btn-modal-psw:checked ~ .modal-psw .container-psw {
    transform: translateY(0%);
}

.container-psw header {
    padding: 17px;
    background-color: #db8046;
    color: #fff;
}

.container-psw label {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

/* ocultar checkbox */
#btn-modal-psw {
    display: none;
}

.lbl-modal-psw {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
