<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Sindicato_Viedma/Css/w3.css">
    <link rel="stylesheet" href="/Sindicato_Viedma/Css/Table.css">
    <link rel="stylesheet" href="/Sindicato_Viedma/Css/main.css">
    <link rel="stylesheet" href="/Sindicato_Viedma/Css/form.css">
    <link rel="stylesheet" href="/Sindicato_Viedma//Css/main+.css">

    <title>Document</title>
</head>
<body>

    <div class="w3-content" style="max-width:1564px">
        <div class="w3-container">
            <div class="w3-modal-content">
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'Empresas')" id="empresas">Empresas</button>
                    <button class="tablinks" onclick="openCity(event, 'Titulares')">Titulares</button>
                    <button class="tablinks" onclick="openCity(event, 'Empleados')">Empleados</button>
                    <button class="tablinks" onclick="openCity(event, 'Antecedentes')">Antecedentes</button>
                    <button class="tablinks" onclick="openCity(event, 'Contadores')">Contadores</button>
                </div>
    
    
                <div id="Empresas" class="tabcontent">
    
                    <!-- -------------------- Razon Social / Nombre Fantasia / Cuit -------------------- -->
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Razon Social</div>
                            <input type="text" id="RazonSocial" name="RazonSocial" class="w3-input w3-ligth-grey " onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Nombre Fantasia</div>
                            <input type="text" id="NombreFantasia" name="NombreFantasia" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Cuit</div>
                            <input type="number" id="Cuit" name="Cuit" class="w3-input w3-ligth-grey " onchange="changeCampos()">
                        </div>
                    </div>
                    <br>
    
                    <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->
    
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Domicilio Real</div>
                            <input type="text" id="DomicilioReal" name="DomicilioReal" class="w3-input w3-ligth-grey " onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Localidad Real</div>
                            <select class="w3-select" name="LocalidadReal" id="LocalidadReal">
                                <option value="0">< Seleccione una localidad ></option>
                                @{
                                    if (ViewData["Localidades"] != null)
                                    {
                                        IEnumerable<dynamic> Localidades = (IEnumerable<dynamic>)ViewData["Localidades"];
    
                                        foreach (dynamic Loc in Localidades)
                                        {
                                            //string Descripcion = EmpAct.Descripcion;
                                            //int Id = EmpAct.Id;
                                            if (@Loc.Id != 0)
                                            {
                                                <option value="@Loc.Id">@Loc.Nombre_Localidad</option>
                                            }
                                        }
                                    }
                                }
    
                            </select>
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Telefono Real</div>
                            <input type="number" id="TelefonoReal" name="TelefonoReal" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                        </div>
                    </div>
                    <br>
    
                    <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->
    
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Actividad</div>
    
                            <select class="w3-select" name="Actividad" id="Actividad">
                                <option value="0">< Seleccione una actividad ></option>
                                @{
                                    if (ViewData["Empresas_Actividades"] != null)
                                    {
                                        IEnumerable<dynamic> Empresas_Actividades = (IEnumerable<dynamic>)ViewData["Empresas_Actividades"];
    
                                        foreach (dynamic EmpAct in Empresas_Actividades)
                                        {
                                            //string Descripcion = EmpAct.Descripcion;
                                            //int Id = EmpAct.Id;
                                            if (EmpAct.Id != 0) { 
                                                <option value="@EmpAct.Id">@EmpAct.Descripcion</option>
                                            }
                                        }
                                    }
                                }
                            </select>
    
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Email</div>
                            <input type="email" id="Email" name="Email" class="w3-input w3-ligth-grey " onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Pagina Web</div>
                            <input type="text" id="PaginaWeb" name="PaginaWeb" class="w3-input w3-ligth-grey " onchange="changeCampos()">
                        </div>
                    </div>
                    <br>
    
                    <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->
    
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Domicilio Real</div>
                            <input type="text" id="DomicilioLegal" name="DomicilioLegal" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Localidad Legal</div>
                            <input type="text" id="LocalidadLegal" name="LocalidadLegal" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Telefono Legal</div>
                            <input type="number" id="TelefonoLegal" name="TelefonoLegal" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                        </div>
                    </div>
                    <br>
    
                    <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->
    
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Sucursal 1</div>
                            <input type="text" id="Sucursal1" name="Sucursal1" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Sucursal 1</div>
                            <input type="text" id="Sucursal2" name="Sucursal2" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Sucursal 1</div>
                            <input type="text" id="Sucursal3" name="Sucursal3" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                    </div>
                    <br>
    
                </div>
    
    
                <div id="Titulares" class="tabcontent">
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Apellido Nombre</div>
                            <input type="text" id="ApellidoNombreTitular" name="ApellidoNombreTitular" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Domicilio Particular</div>
                            <input type="text" id="DomicilioParticularTitular" name="DomicilioParticularTitular" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Documento</div>
                            <input type="text" id="DocumentoTitular" name="DocumentoTitular" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                    </div>
                    <br>
    
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Cargo Empresa</div>
                            <input type="text" id="CargoEmpresaTitular" name="CargoEmpresaTitular" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Repita el Cuit Empresa</div>
                            <input type="number" id="RepetirCuitEmpresaTitular" name="RepetirCuitEmpresaTitular" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <button class="w3-right w3-margin-top w3-button w3-card bg-zul w3-text-white w3-hover-blue w3-hover-border-cyan" style="margin: 0 0 0 200px;" type="submit" onclick="insertarTitular()">
                                Agregar Fila
                            </button>
                        </div>
                    </div>
                    <br>
    
                    <div class="container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Apellido Nombre</th>
                                    <th>Domicilio</th>
                                    <th>Documento</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodyTitular">
                            </tbody>
                        </table>
                    </div>
                </div>
    
    
                <div id="Empleados" class="tabcontent">
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Apellido Nombre</div>
                            <input type="text" id="ApellidoNombreEmpleado" name="ApellidoNombreEmpleado" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Cuil</div>
                            <input type="number" id="CuilEmpleado" name="CuilEmpleado" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Fecha Ingreso Empleado</div>
                            <input type="date" id="FechaIngresoEmpleado" name="FechaIngresoEmpleado" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                    </div>
                    <br>
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Categoria</div>
                            <input type="text" id="CategoriaEmpleado" name="CategoriaEmpleado" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Total de Remuneracion</div>
                            <input type="text" id="TotRemuneracionEmpleado" name="TotRemuneracionEmpleado" class="w3-input w3-ligth-grey w3-right-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Aporte 2% Art100CGT</div>
                            <select class="w3-select" name="Aporte2ArtEmpleado" id="Aporte2ArtEmpleado">
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Aporte 1% C. Sind T. y R.</div>
                            <select class="w3-select" name="Aporte1SindEmpleado" id="Aporte1SindEmpleado">
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Aporte 1% Sep. y Acc. Soc</div>
                            <select class="w3-select" name="Aporte1SepEmpleado" id="Aporte1SepEmpleado">
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Jornada</div>
                            <select class="w3-select" name="JornadaEmpleado" id="JornadaEmpleado">
                                <option value="MEDIA">1/2 JORNADA</option>
                                <option value="COMPLETA">JORNADA COMPLETA</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Repetir Cuit de la Empresa</div>
                            <input type="number" id="RepetirCuitEmpresaEmpleado" name="RepetirCuitEmpresaEmpleado" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <button class="w3-right w3-margin-top w3-button w3-card bg-zul w3-text-white w3-hover-blue w3-hover-border-cyan" style="margin: 0 0 0 200px;" type="submit" onclick="insertarEmpleado()">
                                Agregar Fila
                            </button>
                        </div>
                    </div>
                    <br>
    
    
                    <div class="container">
                        <table id="tablaEmpleados">
                            <thead>
                                <tr>
                                    <th>Apellido y Nombre</th>
                                    <th>Cuil</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Categoria</th>
                                    <th>Remuneracion</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodyEmpleado">
                            </tbody>
                        </table>
                    </div>
                </div>
    
    
                <div id="Antecedentes" class="tabcontent">
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Sucesora de</div>
                            <input type="text" id="SucesoraAntecedente" name="SucesoraAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Numero de Empresa</div>
                            <input type="number" id="NumeroEmpresaAntecedente" name="NumeroEmpresaAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Fecha de Transferencia</div>
                            <input type="date" id="FechaTransferenciaAntecedente" name="FechaTransferenciaAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                    </div>
                    <br>
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Calle</div>
                            <input type="text" id="CalleAntecedente" name="CalleAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Piso</div>
                            <input type="text" id="PisoAntecedente" name="PisoAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Localidad</div>
                            <input type="text" id="LocalidadAntecedente" name="LocalidadAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                    </div>
                    <br>
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Codigo Postal</div>
                            <input type="number" id="CPAntecedente" name="CPAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Provincia</div>
                            <input type="text" id="ProvinciaAntecedente" name="ProvinciaAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Telefono</div>
                            <input type="number" id="TelefonoAntecedente" name="TelefonoAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                    </div>
                    <br>
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Repetir Cuit Empresa</div>
                            <input type="number" id="RepetirCuitEmpresaAntecedente" name="RepetirCuitEmpresaAntecedente" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <button class="w3-right w3-margin-top w3-button w3-card bg-zul w3-text-white w3-hover-blue w3-hover-border-cyan" style="margin: 0 0 0 200px;" type="submit" onclick="insertarAntecedente()">
                                Agregar Fila
                            </button>
                        </div>
                    </div>
    
                    <div class="container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sucesora</th>
                                    <th>Numero</th>
                                    <th>Fecha Transf.</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodyAntecedente">
                            </tbody>
                        </table>
                    </div>
                </div>
    
    
                <div id="Contadores" class="tabcontent">
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Nombre/Estudio</div>
                            <input type="text" id="NombreEstudioContador" name="NombreEstudioContador" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Direccion</div>
                            <input type="text" id="DireccionContador" name="DireccionContador" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Telefono</div>
                            <input type="number" id="TelefonoContador" name="TelefonoContador" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                    </div>
                    <br>
    
                    <div class="w3-row">
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Email</div>
                            <input type="email" id="EmailContador" name="EmailContador" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <div class="w3-padding bg-zul">Repita el Cuit Empresa</div>
                            <input type="number" id="RepetirCuitEmpresaContador" name="RepetirCuitEmpresaContador" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                        </div>
                        <div class="w3-third w3-container w3-text-white">
                            <button class="w3-right w3-margin-top w3-button w3-card bg-zul w3-text-white w3-hover-blue w3-hover-border-cyan" style="margin: 0 0 0 200px;" type="submit" onclick="insertarContador()">
                                Agregar Fila
                            </button>
                        </div>
                    </div>
                    <br>
    
                    <div class="container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre Estudio</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodyContador">
                            </tbody>
                        </table>
                    </div>
                </div>
    
                <button class="w3-right w3-margin-top w3-button w3-card bg-zul w3-text-white w3-hover-blue w3-hover-border-cyan" style="margin: 0 0 0 200px;" type="submit" onclick="return enviar();">
                    Crear
                </button>
    
            </div>
    
        </div>
    
    </div>
    <br />
</body>
</html>